img(src=path("img/header.png"))
p.welcome Logged in as&nbsp;
  u #{user.name}
.buttons.is-centered
  a.button.is-info(href=path()) Home
  a.button.is-info(href=path("admin")) Administration
  a.button(href=path("about")) About
  a.button.is-danger(href=path('logout')) Logout
