extends layout.pug

block content
  // overlay
  div.flex#fader
    p.title.is-2.has-text-white Loading...

  // container
  div#app

    //sidebar
    div#sidebar

      // header
      section.section
        .container
          a(href=path("about"))
            img(src=path("img/header.png"))

      hr.bottom

      file-list(@ready="ready()" :socket="socket" ref="fileList")

    // content
    log-viewer(ref="logViewer" :adapter="theAdapter" :entry="theEntry")

block js
  if !_debug
    script(src=path("vendor/vue.min.js"))
  else
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src=path("vendor/axios.min.js"))
  script(src=path("vendor/jquery-3.3.1.min.js"))
  //script(src=path("vendor/jquery.mCustomScrollbar.concat.min.js"))
  script(src=path("js/logic.js"))
